body{
background: linear-gradient(#b39ddb 0%, #81d4fa 100%);
text-align: center;
}
div{
    margin-top: 15px;
}
.image-section{
    display: flex;
    justify-content: center;
}
.section-style{
    margin-right: 25px;
    margin-left: 25px;
}